body{
    background-color: #d9d9d9;
}

#navbar{
    background-color: #4f5d4c;
    font-family: Arial, Helvetica, sans-serif;
}

#webpage{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
#navbar-list{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar-list-element{
    display: inline;
    float: left;
}

/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
.navbar-list-styling{
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

.mapImage{
    padding-left: 70px;
    min-width: 400px;
    min-height: 200px;
}

/* https://www.w3schools.com/css/css_link.asp */
.pageLink:link{
    color: #4f5d4c;
}

.pageVisited:visited{
    color: #273624;
}

/* https://www.w3schools.com/howto/howto_css_table_center.asp */
#tablePosition{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 60px;
}

caption{
    margin-bottom: 40px;
    font-size: large;
    font-weight: bold;
}

table, th, td{
    border-collapse: collapse;
    border-color: #273624;
}

#headerRow{
    margin-bottom: 5px;
}

th{
    background-color: #4f5d4c;
    color: white;
    padding: 5px;
}

.cellStyle{
    padding-left: 10px;
    padding-right: 10px;
}

/* https://www.w3schools.com/css/css3_borders.asp */
.tableImage{
    width: 450px;
    height: 350px;
    border-radius: 15px;
    padding: 5px;
}

/* https://www.w3schools.com/html/html5_semantic_elements.asp */
footer{
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    background-color: #4f5d4c;
    color: white;
}
