body{
    background-color: #d9d9d9;
}

#navbar{
    background-color: #4f5d4c;
    font-family: Arial, Helvetica, sans-serif;
}

#webpage{
    text-align: center;
    margin: 5px;
}

#headerOneStyle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#headerOneStyle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#headerThreeStyles {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: italic;
}

#headerThreeStyles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#headerFourStyles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#headerFourStyles {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.paragraphStyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #273624;
}

.paragraphStyle{
    font-family: Arial, Helvetica, sans-serif;
}

/* 
   Sets the list style to none to get rid of the default disc
   sets the margin to zero and sets overflow to hidden so if the list
   does overflow, it hides it, ultimately making the navbar uniform
   https://www.w3schools.com/css/css_navbar_horizontal.asp 
*/
#navbar-list{
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
}

/* 
   Sets the navbar list elements (li) to be inline so it can be
   manipulated easier from other CSS properties, and sets content
   to the to left. https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
.navbar-list-element{
    display: inline;
    float: left;
}

/* 
   Sets the element type to block so its possible to manipulate
   with other CSS properties, sets colour to white (text), centres
   the text, sets the padding for left and top to 8px each and
   no text decoration is needed, overrides the list default
   https://www.w3schools.com/css/css_navbar_horizontal.asp 
*/
.navbar-list-styling{
  display: block;
  color: white;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
}

.mapImage{
    padding-left: 70px;
    min-width: 400px;
    min-height: 200px;
}

/*
   Overrides the default link colour to this hex decimal colour
   https://www.w3schools.com/css/css_link.asp 
*/
.pageLink:link{
    color: #4f5d4c;
}

.pageVisited:visited{
    color: #273624;
}

/* Sets the margins of both the left and right of the table
   to auto, meaning it'll take the available widths of both sides
   and pushes the table towards the centre, sets table width to 75%
   of the total parent element width (div), margin top to 60, gives
   spacing https://www.w3schools.com/howto/howto_css_table_center.asp */
#tablePosition{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 60px;
}

caption{
    margin-bottom: 40px;
    font-size: large;
    font-weight: bold;
}

table, th, td{
    border-collapse: collapse;
    border-color: #273624;
}

#headerRow{
    margin-bottom: 5px;
}

th{
    background-color: #4f5d4c;
    color: white;
    padding: 5px;
}

.cellStyle{
    padding-left: 10px;
    padding-right: 10px;
}

/* 
   Sets the max height and width to --px, border-radius
   is for giving the images an edge, 15px to be exact of
   the full image per corner, sets padding of all sides to 5px
   https://www.w3schools.com/css/css3_borders.asp 
*/
.tableImage{
    border-radius: 15px;
    padding: 5px;
}

/* 
   Aligns the text to the centre, gives margin top 25px for
   spacing and formatting sake, sets all padding to 5px, sets
   the background colour to a hexadecimal colour, sets text 
   to white https://www.w3schools.com/html/html5_semantic_elements.asp 
*/
footer{
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    background-color: #4f5d4c;
    color: white;
}
